@media (min-width: 769px) {

  /* Layout desktop */
  body {
    padding-top: var(--navbar-height) !important;
  }

  .container-fluid {
    display: flex;
    margin-top: 0 !important;
    padding-top: 0 !important;
    height: calc(100vh - var(--navbar-height)) !important;
  }

  .row.g-0 {
    width: 100%;
  }

  .col-12 {
    flex: 1;
    height: 100%;
    position: relative;
  }

  #map {
    position: fixed !important;
    top: var(--navbar-height) !important;
    left: 0 !important;
    width: 100% !important;
    height: calc(100vh - var(--navbar-height)) !important;
    z-index: 0;
  }

  /* Ajustar controles de Leaflet en desktop */
  .leaflet-top {
    top: 20px !important;
  }

  .leaflet-left {
    left: 10px !important;
  }
}